.main_wrapper_upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 500px;
}

.buttons_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
