html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: auto;
}

.logo {
  height: 50px;
  width: 50px;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}



.main_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
  min-width: 100%;
  min-height: 100%;
}



.Appcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 100%;
  min-height: 100%;
}