body {
  background: white;
  color: black;

}
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
}

.logo {
  height: 300px;
  padding: 1.5em;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}