.graph_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; 
  /* overflow: hidden;  */
}

.react-sigma-controls {
  margin-right: auto; 
}
.sigma-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading_spinner_graph {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 10px;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.loading_spinner_graph::after {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  border-top: 2px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 10px;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  font-weight: 600;
  color: red;
}

.node-label {
  fill: #ff0000;
}

.edge-label {
  fill: #ffffff;
}


#tooltip {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  pointer-events: none;
}
