.main_graph_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden;  */
}

.graph_container {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 30px;
  text-align: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}

.graph_info {
  width: 25%;
  padding: 20px;
  overflow-y: auto;
}

.graph_info h1 {
  margin-bottom: 30px;
  text-decoration: underline;
}

.graph_info p {
  margin-bottom: 30px;
}

.search_container {
  position: relative;
}

.sigma_container {
  background: var(--mui-palette-primary-main);
}
.react-sigma-controls {
  margin-right: auto;
}
.sigma-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.error_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 10px;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  font-weight: 600;
  color: #red;
}

.loading_spinner_graph::after {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  border-top: 2px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader_container_graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.loader_container_graph span {
  margin-top: 20px;
  font-size: 18px;
}

.node-label {
  fill: #ff0000;
}

.edge-label {
  fill: #ffffff;
}

#tooltip {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  pointer-events: none;
}
