.graph_container {
  flex-direction: column;
  gap: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sigma_container {
  background: var(--mui-palette-primary-main);
}
.react-sigma-controls {
  margin-right: -45%;
}

.error_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 10px;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  font-weight: 600;
  color: red;
}

.loader_container_graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.loader_container_graph span {
  margin-top: 20px;
  font-size: 18px;
}
